/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2d2d2c;
}

/* Navbar Styles */
.navigation {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 28%;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #2d2d2c;
    font-weight: bold;
}

/* Hero Image Section */
.heroImg {
    height: 600px;
    background: url('../Images/Hero-Profile.png') center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heroImg .content {
    background-color: rgba(255, 255, 255, 0.67);
    padding: 20px;
    color: #2d2d2c;
    border-radius: 8px;
    width: 50%;
}

.content h1 {
    font-family: 'Merriweather', serif;
    font-size: 3em; 
    font-weight: 700;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: transparent;
    color: #e98142;
    border: 2px solid #e98142;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #e98142;
    color: #fff;
}

/* My UX Skills Section */
.mySkills {
    padding: 20px;
    background-color: #f4f4f4;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.flexContainer div {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flexContainer img {
    width: 20%;
    margin-bottom: 20px;
}

.flexContainer h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.flexContainer p {
    font-size: 1em;
    text-align: left;
}

/* My Work Section */
.myWork {
    padding: 40px;
}

.myWork h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}
.workGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.workGrid div {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.workGrid img {
    width: 40%;
    margin-right: 20px;
    border-radius: 8px;
}

.text-container h4 {
    font-size: 2em;
    margin-bottom: 10px;
}

.workGrid button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.workGrid button:hover {
    background-color: #e98142;
}

/* Footer Styles */
footer {
    background-color: #373738;
    color: #8b8b8b;
    padding: 10px;
    text-align: center;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline-block;
    margin-right: 20px;
}
footer a {
    color: #fff;
}  
footer a:hover {
    color: #e98142;
}

/* Separator Line */
.separator {
    height: 10px;
    background-color: #e98142;
    margin: 0;
}